# ===== OS =====
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# ===== IDEs =====
# JetBrains (Rider, PyCharm)
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace
